:root {
  --heading-font: "PT Sans", sans-serif;
  --black: #000;
  --white: #fff;
  --primary-color: #b80257;
  --secondary-color: #783df0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* Header Wrapper  */

.header-wrapper {
  width: 100%;
  min-height: 496px;
  background-image: url(../img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-wrapper .inner {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  min-height: inherit;
}

.container {
  max-width: 1170px;
  min-height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 10px;
}
.header-content a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  font-weight: 600;
}

.header .nav {
  display: flex;
}

.nav a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  padding: 20px;
}

.action-wrapper {
  display: flex;
  gap: 20px;
}

.action-btn {
  font-size: 2rem;
  color: var(--white);
}

h1.heading {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumb {
  display: flex;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  color: #fffc;
}

.breadcrumb li + li::before {
  content: "/ ";
  color: #fffc;
  padding: 0 5px;
}
/* End header wrapper */

/* Start main */
.main {
  margin-top: 110px;
}
.main .inner {
  display: flex;
  gap: 30px;
}
/* Start sidebar */
.sidebar {
  width: 270px;
  /* padding: 0 15px; */
  /* background: #f5f5f5; */
}

.search-form {
  display: flex;
  align-items: center;
  height: 43px;
  border: 1px solid #00000017;
  border-radius: 20px;
  overflow: hidden;
}
.search-input {
  flex-grow: 1;
  padding-left: 20px;
  border: none;
  outline: none;
}

.search-input:not(:placeholder-shown) + .search-btn {
  color: #333;
}

.search-btn {
  padding: 0 20px;
  align-self: stretch;
  color: #00000080;
}

.menu-title {
  margin-top: 30px;
  color: #222;
  font-size: 1.6rem;
  font-weight: 600;
}

.menu {
  margin-top: 20px;
  border: 1px solid #0000000d;
}
/* li + li là tính từ phần tử thứ hai trở đi 
nếu k muốn thì dùng li last child để xóa */
.menu li + li {
  border-top: 1px solid #0000000d;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 40px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.menu a:hover {
  color: var(--secondary-color);
}

.main-content {
  flex-grow: 1;
  padding: 30px;
}

/* Topics */
.topics {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.topics a {
  text-decoration: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 14px;
}

.topics .active a,
.topics a:hover {
  background: var(--secondary-color);
  color: var(--white);
  transition: background-color 0.3s ease;
}

/* course list */
.course-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 60px;
  /* thừa mgl ở con thì lấy cái cha trừ đi  */
  margin-left: -30px;
}

.course-item {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin-left: 30px;
  width: calc(33.33% - 30px);
  /* background: orange; */
}
.course-item h3:hover {
  color: var(--primary-color);
  transition: background-color 0.3s ease;
}
.course-item .thumb:hover {
  transform: scale(1.1);
}
.course-item .thumb-wrapper {
  display: block;
  aspect-ratio: 1 / 0.8;
  overflow: hidden;
}

.course-item .thumb {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.course-item .info {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.course-item .title {
  font-size: 1.8rem;
  color: #464646;
  text-decoration: none;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* giới hạn 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-item .title a {
  text-decoration: none;
}
.course-item .desc {
  margin: 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* giới hạn 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-item .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0009;
  margin-top: auto;
}

.course-item .bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.course-item .course-btn {
  min-width: 66px;
  height: 32px;
  color: var(--white);
  border-radius: 30px;
  padding: 0 4px;
  text-decoration: none;
  line-height: 32px;
  transition: transform 0.3s ease;
}

.course-item .course-btn:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}
.course-item .course-btn--free {
  background: var(--secondary-color);
}
.course-item .course-btn--paid {
  background: var(--primary-color);
}

/* Phân trang */
.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  min-width: 29px;
  height: 29px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
.pagination-btn-number:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.pagination-btn-active {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.pagination-btn-text {
  padding: 0 14px;
  border-color: var(--secondary-color);
  color: var(--white);
  background: var(--secondary-color);
}

/* footer */
.course-footer {
  /* display: flex; */
  background: #151515;
  padding: 80px 0 160px 0;
  margin-top: 100px;
  width: 100%;
  gap: 30px;
}
.course-footer-list {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  color: var(--white);
  gap: 30px;
  flex-wrap: wrap;
}
.course-footer-list p {
  font-size: 14px;
}
.course-footer-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  padding: 0 15px;
}
.course-footer-logo img {
  width: 110px;
  height: 38px;
}
.course-footer-list .app ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.course-footer ul li,
.course-footer p {
  color: rgb(255 255 254 / 60%);
}
.course-footer-column {
  display: flex;
}
.course-footer-menu {
  min-width: 160px;
}
.course-footer-menu li {
  padding-top: 5px;
  font-size: 1.5rem;
}
.course-footer-menu h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0 25px 0;
  color: #fff;
}

.course-footer-contact h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0 25px 0;
  color: #fff;
}
.course-footer-contact .footer-form {
  width: 100%;
  height: 40px;
  background: #272727;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  margin: 25px 0 10px 0;
  color: rgba(255, 255, 255, 0.6);
}
.course-footer-contact .footer-btn {
  color: var(--white);
  background: var(--primary-color);
  width: 95px;
  line-height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.course-footer-contact .footer-btn:hover {
  color: var(--primary-color);
  background: var(--white);
  transition: all 0.5s ease;
}

/* ---------------------EVENT---------------------*/
.event-wrapper .header-wrapper {
  width: 100%;
  min-height: 496px;
  background-image: url(../img/banner-event.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-wrapper .inner {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  min-height: inherit;
}

.container {
  max-width: 1170px;
  min-height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 10px;
}
.header-content a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  font-weight: 600;
}

.header .nav {
  display: flex;
}

.nav a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  padding: 20px;
}

.action-wrapper {
  display: flex;
  gap: 20px;
}

.action-btn {
  font-size: 2rem;
  color: var(--white);
}

h1.heading {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumb {
  display: flex;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  color: #fffc;
}

.breadcrumb li + li::before {
  content: "/ ";
  color: #fffc;
  padding: 0 5px;
}

/* Main */

.event-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
}
.event-main a {
  text-decoration: none;
}
.event-container {
  display: flex;
  gap: 30px;
  background: var(--white);
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.event-main-content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}
.event-main-content-1 p,
i,
span {
  color: rgba(0, 0, 0, 0.7);
}

.event-main-title {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.event-main-title span {
  font-size: 1.4rem;
  letter-spacing: 1.5;
  line-height: 1.4;
}
.event-main-title h2 {
  color: rgba(0, 0, 0, 0.7);
  outline-width: 2px;
  font-size: 2.6rem;
  font-weight: 400px;
  line-height: 28.6px;
  cursor: pointer;
}
.event-main-title h2:hover {
  color: var(--primary-color);
  transition: all 0.3 ease;
}
.event-main-title i {
  display: inline-block;
  margin-right: 8px;
}
.event-main-title p {
  font-size: 1.4rem;
}

.event-main-content-1-img {
  margin: 45px 0;
  width: 870px;
  height: 400px;
  object-fit: cover;
}
.event-desc {
  font-size: 15px;
  display: inline-block;
  padding: 0 80px 20px 0;
  line-height: 24px;
}

/* .event-main-content-1 a {
  text-decoration: none;
} */
.event-main-content-1:not(:first-of-type) {
  margin-top: 90px;
}

.event-main .course-pagination {
  margin-top: 45px;
  margin-bottom: 50px;
}

/* Event side bar */
.event-sidebar {
  display: flex;
  flex-direction: column;
}
.event-sidebar-search {
  display: flex;
  margin-bottom: 50px;
}

.event-sidebar-search input {
  height: 50px;
  width: 200px;
  padding: 18px 30px;
  border: 1px solid #ddd;
  outline: none;
}

.event-search-btn {
  width: 70px;
  border: none;
  background: #7b3ff2;
  cursor: pointer;
}
.event-search-btn i {
  color: var(--white);
}
.event-recent-post h3 {
  margin-bottom: 35px;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.event-recent-post {
  display: flex;
  flex-direction: column;
}
.event-recent-post .post:not(:last-child) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.event-recent-post .post {
  display: flex;
}
.event-recent-post .post-item {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.event-recent-post .post-item a {
  padding-top: 5px;
  padding-bottom: 1rem;
}

.event-catergories {
  margin: 50px 0;
}
.event-catergories h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.event-catergories ul li a {
  display: block;
  line-height: 55px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.event-tag h3 {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 700;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag-item {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.8);
}
